rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profile and private learning data
    match /users/{userId} {
      allow read, write: if true;
      
      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }

    // Public / Shared Study Notes, Community topics, Global Questions
    match /public_topics/{topicId} {
      allow read, write: if true;
    }

    // Global App Configuration (Editable by Admin / App)
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
